In [1]:
import numpy as np

In [2]:
np.random.randn()

-1.4567086692013302

In [3]:
np.random.randint(100)

45

In [4]:
ls=[1,2,3]

In [5]:
np.array(ls)

array([1, 2, 3])

In [6]:
ls=[[1,2,3],[4,5,6]]

In [7]:
np.array(ls)

array([[1, 2, 3],
       [4, 5, 6]])

In [9]:
for i in range(10):
    if i%2==0:
        print(np.random.randint(50))
    else:
            print(np.random.randint(50,100))

7
66
8
98
22
94
43
81
25
77

In [11]:
ls=[x for x in range(10)]
ls

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
ls= [x for x in range(10) if x%2!=0]
print(x)

NameError: name 'x' is not defined

In [13]:
x=10
y=20
x
y

20

In [14]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [15]:
np.arange(10,100,2)

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42,
       44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76,
       78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98])

In [16]:
np.arange(10,100,2)

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42,
       44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76,
       78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98])

In [17]:
np.zeros((3,3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [18]:
np.linspace(0,100,10)

array([  0.        ,  11.11111111,  22.22222222,  33.33333333,
        44.44444444,  55.55555556,  66.66666667,  77.77777778,
        88.88888889, 100.        ])

In [19]:
ls

[1, 3, 5, 7, 9]

In [20]:
n=np.array(ls)

In [21]:
n.shape

(5,)

In [22]:
n

array([1, 3, 5, 7, 9])

In [27]:
ls.append(6)

In [28]:
n

array([1, 3, 5, 7, 9])

In [29]:
n=np.array(ls)

In [30]:
n

array([1, 3, 5, 7, 9, 6])

In [31]:
n.shape

(6,)

In [32]:
n.reshape(2,3)

array([[1, 3, 5],
       [7, 9, 6]])

In [33]:
n.dtype

dtype('int32')

In [34]:
n[1:]

array([3, 5, 7, 9, 6])

In [35]:
n

array([1, 3, 5, 7, 9, 6])

In [36]:
n[1:3]

array([3, 5])

In [37]:
ls=[[1,2,3],[4,5,6],[7,8,9],[10,11,12]]

In [38]:
mn=np.array(ls)

In [39]:
mn

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [40]:
mn[1:3,1:3]

array([[5, 6],
       [8, 9]])

In [41]:
n

array([1, 3, 5, 7, 9, 6])

In [42]:
n>5

array([False, False, False,  True,  True,  True])

In [67]:
if n>7 and n<3;
n[n]

SyntaxError: invalid syntax (<ipython-input-67-f9e2379558f7>, line 1)

In [45]:
arr=[0,1,2]
n=np.array(arr)
n+10

array([10, 11, 12])

In [46]:
n.sum()

3

In [47]:
labels=['a','b','c']
my_data=[10,20,30]
arr= np.array(my_data)
d={'a':10,'b':20,'c':30}

In [49]:
import pandas as pd

In [50]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [51]:
pd.Series(index=labels,data=my_data)

a    10
b    20
c    30
dtype: int64

In [52]:
df1=pd.DataFrame(np.random.randn(6,4),['A','B','C','D','E','F'],['P','Q','R','S'])

In [53]:
df1

          P         Q         R         S
A -1.657371  0.694538  1.006605 -0.759666
B  0.876948 -0.848502  0.797275  0.769210
C  0.186988 -0.938976 -0.990183  0.259195
D -0.670553 -0.352166  0.540953  1.444164
E -1.766100  1.727129  0.874344 -0.853985
F  1.569256 -2.037796 -0.864853  0.345590

In [54]:
df1.drop('A')

          P         Q         R         S
B  0.876948 -0.848502  0.797275  0.769210
C  0.186988 -0.938976 -0.990183  0.259195
D -0.670553 -0.352166  0.540953  1.444164
E -1.766100  1.727129  0.874344 -0.853985
F  1.569256 -2.037796 -0.864853  0.345590

In [55]:
df1.drop('S',axis=1,inplace=True)

In [56]:
df1

          P         Q         R
A -1.657371  0.694538  1.006605
B  0.876948 -0.848502  0.797275
C  0.186988 -0.938976 -0.990183
D -0.670553 -0.352166  0.540953
E -1.766100  1.727129  0.874344
F  1.569256 -2.037796 -0.864853

In [57]:
df1[df1>0]

          P         Q         R
A       NaN  0.694538  1.006605
B  0.876948       NaN  0.797275
C  0.186988       NaN       NaN
D       NaN       NaN  0.540953
E       NaN  1.727129  0.874344
F  1.569256       NaN       NaN

In [58]:
df1.drop('A', inplace=True)

In [59]:
df1

          P         Q         R
B  0.876948 -0.848502  0.797275
C  0.186988 -0.938976 -0.990183
D -0.670553 -0.352166  0.540953
E -1.766100  1.727129  0.874344
F  1.569256 -2.037796 -0.864853

In [60]:
df1.loc[['B','C']]

          P         Q         R
B  0.876948 -0.848502  0.797275
C  0.186988 -0.938976 -0.990183

In [61]:
df1.loc['C']

P    0.186988
Q   -0.938976
R   -0.990183
Name: C, dtype: float64

In [62]:
d={'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3,]}

In [63]:
df = pd.DataFrame(d)

In [64]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [65]:
pd.read_csv('Salaries.csv',low_memory=False)

,Unnamed: 0,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN
10,10,11,ARTHUR KENNEY,"ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",194999.39,71344.88,33149.90,NaN,299494.17,299494.17,2011,NaN,San Francisco,NaN
11,11,12,PATRICIA JACKSON,CAPTAIN III (POLICE DEPARTMENT),99722.00,87082.62,110804.30,NaN,297608.92,297608.92,2011,NaN,San Francisco,NaN
12,12,13,EDWARD HARRINGTON,EXECUTIVE CONTRACT EMPLOYEE,294580.02,0.00,0.00,NaN,294580.02,294580.02,2011,NaN,San Francisco,NaN
13,13,14,JOHN MARTIN,DEPARTMENT HEAD V,271329.03,0.00,21342.59,NaN,292671.62,292671.62,2011,NaN,San Francisco,NaN
14,14,15,DAVID FRANKLIN,"BATTALION CHIEF, (FIRE DEPARTMENT)",174872.64,74050.30,37424.11,NaN,286347.05,286347.05,2011,NaN,San Francisco,NaN
15,15,16,RICHARD CORRIEA,"COMMANDER III, (POLICE DEPARTMENT)",198778.01,73478.20,13957.65,NaN,286213.86,286213.86,2011,NaN,San Francisco,NaN
16,16,17,AMY HART,DEPARTMENT HEAD V,268604.57,0.00,16115.86,NaN,284720.43,284720.43,2011,NaN,San Francisco,NaN
17,17,18,SEBASTIAN WONG,"CAPTAIN, EMERGENCYCY MEDICAL SERVICES",140546.87,119397.26,18625.08,NaN,278569.21,278569.21,2011,NaN,San Francisco,NaN
18,18,19,MARTY ROSS,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,69626.12,38115.47,NaN,276434.22,276434.22,2011,NaN,San Francisco,NaN
19,19,20,ELLEN MOFFATT,ASSISTANT MEDICAL EXAMINER,257510.59,880.16,16159.50,NaN,274550.25,274550.25,2011,NaN,San Francisco,NaN
20,20,21,VENUS AZAR,ASSISTANT MEDICAL EXAMINER,257510.48,0.00,16679.79,NaN,274190.27,274190.27,2011,NaN,San Francisco,NaN
21,21,22,JUDY MELINEK,ASSISTANT MEDICAL EXAMINER,257510.44,377.21,15883.56,NaN,273771.21,273771.21,2011,NaN,San Francisco,NaN
22,22,23,GEORGE GARCIA,"CAPTAIN, FIRE SUPPRESSION",140546.88,93200.58,39955.25,NaN,273702.71,273702.71,2011,NaN,San Francisco,NaN
23,23,24,VICTOR WYRSCH,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,77896.14,24083.86,NaN,270672.63,270672.63,2011,NaN,San Francisco,NaN
24,24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN
25,25,26,GREGORY SUHR,CHIEF OF POLICE,256470.41,0.00,11522.18,NaN,267992.59,267992.59,2011,NaN,San Francisco,NaN
26,26,27,JOHN HANLEY,"CAPTAIN, FIRE SUPPRESSION",92080.80,40008.00,133695.76,NaN,265784.56,265784.56,2011,NaN,San Francisco,NaN
27,27,28,RAYMOND GUZMAN,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.59,80706.88,16063.99,NaN,265463.46,265463.46,2011,NaN,San Francisco,NaN
28,28,29,DENISE SCHMITT,DEPUTY CHIEF III (POLICE DEPARTMENT),261717.60,0.00,2357.00,NaN,264074.60,264074.60,2011,NaN,San Francisco,NaN
29,29,30,MONICA FIELDS,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",246225.60,0.00,15140.54,NaN,261366.14,261366.14,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148015,148620,148621,India C Sabater,Recreation Leader,15.50,0.00,0.00,0.16,15.50,15.66,2014,NaN,San Francisco,PT
148016,148621,148622,Kenneth Mackey,Transit Operator,0.00,0.00,15.35,0.00,15.35,15.35,2014,NaN,San Francisco,PT
148017,148622,148623,Jacqueline Hubbard,Senior Clerk,0.00,0.00,13.77,0.00,13.77,13.77,2014,NaN,San Francisco,PT
148018,148623,148624,Deborah B Honig,Attorney (Civil/Criminal),0.00,0.00,13.35,0.13,13.35,13.48,2014,NaN,San Francisco,PT
148019,148624,148625,Lorraine Rosenthal,Senior Clerk,0.00,0.00,12.89,0.00,12.89,12.89,2014,NaN,San Francisco,PT
148020,148625,148626,Renato C Gurion,Registered Nurse,0.00,0.00,6.00,1.24,6.00,7.24,2014,NaN,San Francisco,PT
148021,148626,148627,Paulet Gaines,Account Clerk,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148022,148627,148628,Brett A Lundberg,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148023,148628,148629,Mark W Mcclure,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148024,148629,148630,Elizabeth Iniguez,Transcriber Typist,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148025,148630,148631,Randy J Keys,Carpenter,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148026,148631,148632,Andre M Johnson,Communications Dispatcher 1,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148027,148632,148633,Sharon D Owens-Webster,Protective Services Worker,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148028,148633,148634,Edward Ferdinand,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148029,148634,148635,David M Turner,Transit Car Cleaner,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148030,148635,148636,James S Kibblewhite,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148031,148636,148637,Andrew J Enzi,Arborist Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148032,148637,148638,Kadeshra D Green,Transit Fare Inspector,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148033,148638,148639,Lennard B Hutchinson,Electrician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148034,148639,148640,Richard A Talbert,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148035,148640,148641,Charlene D Mccully,Parking Control Officer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148036,148641,148642,Raphael Marquis Goins,Museum Guard,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148037,148642,148643,Dominic C Marquez,Sign Worker,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148038,148643,148644,Kim Brewer,Parking Control Officer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148039,148644,148645,Randy D Winn,"Stationary Eng, Sewage Plant",0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148040,148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148041,148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148042,148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148043,148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148044,148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT